@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("https://api.fontshare.com/v2/css?f[]=poppins@400,600&display=swap");
  }
  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
  }
  p, span {
    font-family: "Bespoke Slab";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://api.fontshare.com/v2/css?f[]=bespoke-slab@400&display=swap");
  }
}